body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #0099ff;
    color: white;
    padding: 20px;
}

nav {
    text-align: center;
    margin: 10px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0099ff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

h1, h2, h3 {
    margin: 0 0 10px;
}

p {
    margin: 10px 0;
}

img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 10px auto;
}

figure {
    margin: 10px auto;
    text-align: center;
}

figcaption {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #0099ff;
    color: white;
}

/* Responsividade */
@media (max-width: 768px) {
    header, nav, section, footer {
        padding: 10px;
    }

    nav a {
        margin: 5px;
        font-size: 0.9em;
    }

    img {
        max-width: 90%;
    }
}

/* todas as tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center; 
}

/* células da tabela */
th, td {
    padding: 8px;
    border: 1px solid black; 
    vertical-align: middle; 
}

/* cabeçalho */
th {
    background-color: #f2f2f2; 
    font-weight: bold; 
}

/* sombra ao redor da tabela */
table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0; 
}

/* quando passar o mouse sobre a linha */
tr:hover {
    background-color: #f5f5f5; /* Altera a cor de fundo  */
}